/* tablet + desktop */
@media screen and (min-width:769px) {

html,body {
	width:100%;
	margin:0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	color:black;
	background-color:#a6a6a6;
}

/* header */

#header {
	width:96%;
	height:220px;
	border-radius:10px;
	border-style:solid;
	border-color:black;
	margin:2em auto 1em auto;
	background-color:#73d7e1;
}

#imglogo {
	display:block;
	float:left;
	margin:1.2em 1.6em 1em 3em;
}

#adminzone {
	border-style:solid;
	border-color:black;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-bottom:0;
	background-color:silver;
	float:right;
	position:relative;
	top:169px;
	right:40px;
}

#adminzone a {
	display:block;
	font-variant:small-caps;
	font-weight:bold;
	color:black;
	min-width:22px;
	min-height:22px;
	padding:0.3em;
	position:relative;
	top:2px;
}

/* panoramic */

#panoramic {
	clear:right;
	width:96%;
	height:12em;
	display:block;
	border-radius:10px;
	border-style:solid;
	border-color:black;
	margin:auto;
	object-fit:cover; /* nota */
}

/* path */

#path {
	width:96%;
	margin:1em auto 0em auto;
	font-size:1em;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	background-color:#73d7e1;
}

#path p {
	margin:0.5em 1em 0.5em 0.8em;
}

.pathcolor {
	color:#eb2d2d;
}

/* tabs */

#ultabs {
	width:96%;
	padding:0;
	margin:1em auto 0em auto;
	font-size:18px;
	font-variant:small-caps;
}

.navtab {
	display:inline-block;
	border-style:solid;
}

.selected {
	font-size:1.7em;
	font-weight:bold;
	text-decoration:none;
	padding:0.4em 0.5em 0.1em 0.5em;
	border-color:black;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-bottom:0;
	margin:0em 0em 0em 0.8em;
	background-color:#df7171;
	position:relative;
	top:3px;
}

.selected span {
	position:relative;
	bottom:3px;
}

.navtab a {
	font-weight:bold;
	padding:0.4em 1em 0.4em 1em;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

.navtab a:visited {
	color:blue;
}

#lihome {
	border-color:black;
	background:#73d7e1;
}

#lihome:hover {
	border-color:#007837;
	background:url(../images/tabhome.png);
	background-size:cover;
	background-repeat:no-repeat;
}

#liprod {
	border-color:black;
	background:#73d7e1;
}

#liprod:hover {
	border-color:#7d2d87;
	background:url(../images/tabprod.png);
	background-size:cover;
	background-repeat:no-repeat;
}

#lilav {
	border-color:black;
	background:#73d7e1;
}

#lilav:hover {
	border-color:#bf6800;
	background:url(../images/tablav.png);
	background-size:cover;
	background-repeat:no-repeat;
}

.notselected {
	font-size:1.3em;
	vertical-align:bottom;
	padding-top:0.3em;
	padding-bottom:0.3em;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-bottom:0;
	margin:0em 0em 0em 0.8em;
}

.notselected:hover {
	font-size:1.5em;
	font-weight:bold;
	background-color:#65c18f;
}

/* content */

#container {
	width:96%;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	margin:0em auto 1.6em auto;
	background-image:url(../images/cont_bkg.png);	
	background-size:cover;
	background-repeat:no-repeat;
}

#container fieldset {
	border:4px double;
	margin:1em 1em 1em 1em;
}

#container p {
	margin:1em 1em 1em 1em;
}

#info {
	border-style:solid;
	border-color:black;
	border-radius:18px;
	margin:2em 2em 2em 2em;
	background-color:white;
}

#info a {
	font-weight:bold;
}

#forminfo {
	padding:1.5em;
	border-style:solid;
	border-color:black;
	border-radius:18px;
	margin:2em 2em 2em 2em;
	background-color:white;
}

.errori {
	display:block;
	font-size:0.8em;
	color:#a51e1e;
	margin:0.7em 0em 0em 0em !important;
}

legend {
	font-size:1.2em;
	font-weight:bold;
}

.colorbox {
	background:#ffe6eb;
}

.required {
	color:#eb2d2d;
}

#ulcateg {
	padding:0;
	margin:1em 0em 0em 0em;
}

#ulcateg li {
	display:inline-block;
	margin:0em 0em 0em 0em;
}

#hiddenazienda {
	visibility:hidden;
}

#azienda {
	margin:0em 0em 0em 0.7em;
}

#uldatipers {
	padding:0;
	margin:0;
}

#uldatipers li {
	display:inline-block;
	width:30%;
	margin:0em 0.5em 0em 0.5em;
}

#tabledatipers {
	margin:1em 0.6em 0em 0.6em;
}

.columndivider {
	border-right:2em solid transparent;
}

#memorequired {
	display:block;
	font-size:0.6em;
	font-style:italic;
}

#memoasterisco {
	font-size:1.2em;
	color:#eb2d2d;
}

#memorequired {
	font-size:0.6em;
	font-style:italic;
	padding-top:0.5em;
	padding-left:1.8em;
}

#tipoprob {
	padding:0;
	margin:0;
}

#tipoprob li {
	display:inline-block;
	margin:1em 0.6em 0em 0.6em;
}

#messaggio {
	margin:1em auto 1em auto;
	min-height:260px;
	width:80%;
	display:block;
	font-size:1.3em;
	resize:vertical;
}

#indicetipo {
	font-size:1.1em;
	margin:0em 0em 0em 1em !important;
}

#inviaemail {
	padding:0.5em 1.2em 0.5em 1.2em;
	font-size:1.4em;
	font-weight:bold;
	text-decoration:underline;
	background:#ffe6eb;
	border-color:black;
	margin:0em 0.7em 0.5em 0.7em;
	float:right;
}

#inviaemail:active,
#inviaemail:hover {
	color:#a51e1e;
	border-color:#a51e1e;
}

#errorimessaggio {
	padding-top:1.5em;
	text-align:right;
}

/* footer */

#footer {
	width:96%;
	font-size:0.8em;
	font-style:italic;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	background-color:#73d7e1;
	margin:1.6em auto 1.2em auto;
}

#footer p {
	margin:0.5em 1em 0.5em 1.8em;
}

.footerinfostart {
	padding-left:0.6em;
	color:black;
	font-size:1.4em;
	text-decoration:none;
}

.footerinfo {
	padding-left:0.9em;
}


} /* end desktop + tablet */

/* phone */
@media screen and (min-width:1px) and (max-width:768px) {
 body {
  background:yellow;
 }
} /* end phone */

/* printer */
@media print {
 body {
  background:cyan;
 }
} /* end printer */


