/* css default */

html,body {
    margin:auto;
    font-family:'Helvetica','Arial', sans-serif;
    font-size:1em;
	background-color:#f2f2f2;
}

a:active {outline:none;}
ul {list-style-type:none}
body{max-width:1300px}

/* header */

#logoDitta{
	display:block;
	float:left;
    margin-left:6%;
	margin-bottom:1em;
    height:110px;
    width:400px;
}

#logoDitta{
	border:0;
}

#header{
    display: inline;
}

#header p {
    position: relative;
    top:3.8em;
    right: 2em;
    display: inline;
    float: right;
    font-size:1.3em;
    padding-top:0.3em;
    padding-bottom:0.3em;
}

#zonaadmin {
	font-size:1em;
	float:right;
	color:white;
	font-weight:bold;
	margin:4.2em 1em 0em 0em;
}

.linkadmin {
	padding:1em 0.8em 1em 0.8em;
	border-radius:15px;
	margin-left:0.8em;
}

.linkadmin:hover {
	background-color:#28a7d1;
}

#zonaadmin a {
	color:white;
	font-weight:bold;
	text-decoration:none;
}

#panoramic {
    width:100%;
    height:180px;
	border-style:solid;
	border-color:gray;
	border-left:none;
	border-right:none;
	margin:0em 0em 1em 0em;
    object-fit:cover; /* nota */
}

/* nav */

#breadcrumb {
    height: 2.5em;
    color: white;
	margin-top:1em;
    margin-bottom: -2em;
}

#breadcrumb p{
    padding-top: 0.5em;
    padding-left: 2em;
	margin-top:0em;
    font-size: 1.3em;
}
#breadcrumb a{color: white; }
#breadcrumb a:visited{color:white; }
#breadcrumb a:hover{color: whitesmoke; }
#breadcrumb a:visited:hover{color: black; }

/* circlemenu */

#circlemenu{
    width: 100%;
    overflow:hidden;
}

#circlemenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
	font: bold 16px Verdana;
}

#circlemenu li{
    display: inline;
    margin:0em 2em 2em 2em;
	width:120px;
    height:120px;
}

#circlemenu li{
    display:inline-block;
    text-align:center;
    text-decoration: none;
    color: white;
    margin-right:5px;
    border-radius: 400px;
    -moz-border-radius: 400px;
    -webkit-border-radius: 400px;
    -o-border-radius: 400px;
}

#circlemenu .notSelected{
    position: relative;
    top:1.5em;
}
#circlemenu span, #circlemenu a span{
    position:relative;
    top: 40%;
}

#circlemenu #home, .home{
    background-color: #0dd91d;
}

#circlemenu #home:hover{
    background-color: #3CB371;
}

#circlemenu #prodotti, .prodotti{
    background-color: #f2b70e;
}

#circlemenu #prodotti:hover{
    background-color: #dea70b;
}

#circlemenu #lavorazioni, .lavorazioni{
    background-color: #ff5128;
}

#circlemenu #lavorazioni:hover{
    background-color: #e96326;
}

#circlemenu #contatti, .contatti{
    background-color: #E3001D;
}

#circlemenu #contatti:hover{
    background-color: #b72d23;
}

.admincolor {
	background-color: #04c0ff;
}
#circlemenu li:visited{
    color: white;
}

#circlemenu .selectedH{
    background: #0dd91d;
	margin-bottom:0;
	width:160px;
    height:160px;
}
#circlemenu .selectedP{
    background: #f2b70e;
	margin-bottom:0;
	width:160px;
    height:160px;
}
#circlemenu .selectedL{
    background: #ff5128;
	margin-bottom:0;
	width:160px;
    height:160px;
}
#circlemenu .selectedC{
    background: #E3001D;
	margin-bottom:0;
	width:160px;
    height:160px;
}

#circlemenu li a{
    text-decoration:none;
    color:white;
}

#circlemenu .selectedP{
    display:inline-block;
    text-decoration:none;
}

/* immagini */

.circolare {
    width: 150px;
    height: 150px;
    border-color: #C0C0C0;
    border-radius:999em;
    -moz-border-radius:999em;
    -webkit-border-radius:999em;
    -o-border-radius: 999em;
    border-style: solid;
    border-width: .4em;
}

.foto{
    float: left;
    margin: 5em 3em auto 3em;
}

/* container */

#container {
	margin-top:2em;
	color:#383838;
}

.testo {
    width: auto;
    margin-left: 3em;
}

#container .dispari {
    background-color:#f2f2f2;
    padding-top:1em;
    padding-bottom:3em;
}

#container .pari {
    background-color:white;
    padding-top:1em;
    padding-bottom:3em;
}

#cosaProd h1, #storia h1, #chiSiamo h1 {
    text-align: left;
    margin: 1.5em 0 1em 0;
    padding-left: 5em;
    text-transform: uppercase;

}

.testo ul {
    padding-left:17em;
    padding-right:10em;
    list-style-type:circle;
}

#cosaProd p, #storia p, #chiSiamo p {
    text-align: left;
    padding-left: 15em;
    padding-right: 10em;
}

.tothetop {
    margin-left:0.8em;
    font-style:italic;
    font-size:0.3em;
}

.descrizioneCat {
    float: left;
    margin-top: 1em;
}

#nomeCategoria {
    float: none;
}

.descrizioneCat img {
    float: left;
    margin-left: 1em;
}

.descrizioneCat ul {
    margin-left: 12em;
}

.listaProdotti {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* footer */

#footer {
    height:110px;
    color: white;
    font-size:0.8em;
    font-style:italic;
    background-color:#808080;
    margin-top:-1em;
}

#footer ul{
    clear:left;
    margin-left:5%;
    padding-top:1em;
}

#footer ul li{
    display:inline-block;
	float:left;
    list-style:none;
    padding:2px;
}

#footer ul li:before {
    content:"| ";
}

.center {
	clear:both;
    width:470px;
    margin:4em auto 0em auto;
}

.center span {
	margin:0em 1em 0em 1em;
}

.center img{
    border:0;
    width:88px;
    height:31px;
	vertical-align:middle;
}

/* css prodotti */

.pariP {
    display: block;
    overflow: hidden;
    clear: both;
	padding-top:1em;
    padding-bottom:0;
	background-color:white;
}

.dispariP {
	display: block;
    overflow: hidden;
    clear: both;
	padding-top:1em;
    padding-bottom:0;
	background-color:#f2f2f2;
}

.catContent{
    height: 190px;
    display: inline;
    float: left;
    margin-bottom:8em;
}

.testocat{
    padding-top:1em;

}
.testocat p, .circleGrid p{
    color: #5f6060;
}
.fotocat {
     float: left;
     height:200px;
     width:200px;
     margin:1.5em 2em 0em 2em;
 }

.testocat h1{
    text-transform: uppercase;
    font-size: x-large;
    margin-top: 1.5em;
}

.circleGrid{
    overflow: hidden;
    float: left;
    text-align: center;
    width: 260px;
	height:350px;
	margin:0em 0em 0em 1em;
}

.circleGrid p{padding: 0;margin: 0.1em;}
.circleGrid h1{font-size: medium}

.elencolav {
	margin-bottom:0.5em;
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .testocat p{
        padding-top: 2em;
        margin-top: 5em;
    }
    .catContent{
        margin-top: 1.5em;
        margin-bottom: 8em;
        padding-bottom: 2em;
    }
    .fotocat {
        float: left;
        height:170px;
        width:170px;
        margin:1em 1.5em 0em 2em;
    }

    .fotoprod{
        height:150px;
        width:150px;
    }

    .testocat h1{
        font-size: x-large;
        margin-top: 2.5em;
    }

}

/* css lavorazioni */

.testoL{
    width: 65%;
    height: auto;
    margin: 0 auto;
}

.testoL p{
    color: #5f6060;
}
 .fotoL {
     width: 300px;
     margin: 1em auto;
}

 .fotoL img{
     height:270px;
     width:270px;
 }
.testoL h1{
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    margin-bottom: 2em;
}

.testoL h2{
    text-align: center;
    text-transform: capitalize;
    font-size: medium;
}

/* css contatti */

#info {
	background-color:lightgrey;
	text-align: center;
	margin: 2em 0 2em 0;
}

#info p {
	padding:1em 0em 1em 2em;
    margin:0em 1em 1em 1em;
	font-weight: bold;
	font-size: large;

}

fieldset {
	border: solid;
	border-radius: 8px;
	border-width: thin;
	margin:2em auto 1em auto;
	width: 60%;
	min-width: 520px;
	max-width: 600px;
}

legend {
	font-size:1.2em;
	font-weight:bold;
}

#fieldgenerali {
	margin-top:4em;
}

.errori {
	display:block;
	font-size:0.8em;
	color:#a51e1e;
	margin-top:0.7em;
	text-align:center;
}

.required {
	color:#eb2d2d;
}

#ulcateg {
	padding:0;
	margin:1em 0em 0em 0em;
}

#ulcateg li {
	display:inline-block;
	margin:0;
}

#hiddenazienda {
	visibility:hidden;
}

#azienda {
	margin:0em 0em 0em 0.7em;
}

#uldatipers {
	padding:0;
	margin:0;
}

#uldatipers li {
	display:inline-block;
	width:30%;
	margin:0em 0.5em 0em 0.5em;
}

#tabledatipers {
	margin:1em 0.6em 0em 0.6em;
}

.columndivider {
	border-right:2em solid transparent;
}

#memorequired {
	display:block;
	font-size:0.6em;
	font-style:italic;
}

#memoasterisco {
	font-size:1.2em;
	color:#eb2d2d;
}

#memorequired {
	font-size:0.6em;
	font-style:italic;
	padding-top:0.5em;
	padding-left:1.8em;
}

#tipoprob {
	padding:0;
	margin:0;
}

#tipoprob li {
	display:inline-block;
	margin:0.5em 0.6em 0em 0.6em;
}

#messaggio {
	margin:1em auto 1em auto;
	min-height:260px;
	width:80%;
	display:block;
	font-size:1.3em;
	resize:vertical;
	border-radius: 5px;
}

#indicetipo {
	font-size:1.1em;
	margin:0em 0em 0em 1em;
}

#inviaemail {
	padding:0.5em 1.2em 0.5em 1.2em;
	font-size:1.4em;
	font-weight:bold;
	margin:0em 0.7em 0.5em 0.7em;
	float:right;
}

#errorimessaggio {
	padding-top:1.5em;
	text-align:right;
}

#labmess {
	margin:0.5em 0.6em 0em 0.6em;
    font-size: 1.1em;
}

#fieldultimo {
	margin-bottom:3em;
}

/* css login */

#formlogin {
    min-height: 6em;
    height: 200px;
    width: 450px;
    margin: 0em auto;
    padding-top: 1em;
}

#ullogin {
    float:left;
    list-style:none;
    padding:0;
}

#ullogin li {
    font-weight:bold;
    margin:0.8em 0em 0.8em 5em;
}

.submitlogin {
    margin:2.5em 2em 2em 2em;
	padding:1em;
}

.error {
    font-weight:bold;
    background-color:pink;
    padding:0.4em 0em 0.4em 20em;
    margin:0em 0em 3em 0em;
}

/* css admin */

.containeradmin h1 {
	padding:1em 0em 0.5em 2em;
	background-color:#EFEFEF;
	margin-top:0;
}

.containeradmin  ul {
	background-color:#FFFFFF;
	margin:0;
}

.containeradmin  li {
	display:inline-block;
	padding:1em 0em 1em 0em;
	margin:1em;
}

.containeradmin  img {
	float:left;
	height:120px;
	width:120px;
	border-radius:99px;
	border-style:solid;
	border-width:0.2em;
	margin-left:2em;
}

.containeradmin  span {
	float:right;
	font-size:1.2em;
	padding:0;
    margin:2.5em 0em 0em 1em;
}

.normalborder {
    border-color:black;
}

.redborder {
	border-color:darkred;
}

/* css zone di modifica */

.textbold {
	font-weight:bold;
}

.noblock {
	display:inline;
}

.aligncenter {
	text-align:center;
}

.adminfoto {
	height:60px;
	width:60px;
	vertical-align:middle;
	border-width:0.2em;
	margin:0em 1em 0em 2.5em;
}

.infoattuale {
	display:inline;
	font-size:1.5em;
}

.nomescelta {
	font-size:1.2em;
}

#select {
	padding:0.5em;
}

.tablemod {
	margin-left:3em;
}

.tablemod td {
	padding-right:1em;
	padding-bottom:0.5em;
}

#ulmod {
	margin:0;
}

#ulmod li {
	font-weight:normal;
	margin:0.5em 0em 0.5em 0em;
}

#divlav {
	margin-left:6em;
}

#divcheckblav {
	margin-left:3.5em;
}

#attualelabel {
	margin:0;
	font-style:italic;
}

#attualedescr {
	font-style:italic;
	margin-top:0.5em;
	width:280px;
}

#testodelete {
	margin-left:5em;
}

.redhover:hover {
	color:red;
}

/* css generico zona riservata */

.lightgrey {
    background-color:#EFEFEF;
}

.pink {
    background-color:pink;
}

.white {
	background-color:white;
}

.result {
	padding-top:1em;
	padding-bottom:1em;
}

.formmargin {
	margin-left:0.5em;
}

.marginleft {
	margin-left:4em;
}

.paddtop {
    padding-top:1em;
}

.warning {
	font-size:1.2em;
	padding:1em 0em 0.5em 0em;
    margin:1em 0em 0em 4em;
}

#texta1 {
	width:280px;
	height:80px;
}

#texta2 {
	width:280px;
	height:80px;
}

.standardcheckb {
    font-weight:normal;
	margin:0.5em 0em 0.5em 0em;
}

.submit {
    min-width:8em;
    min-height:5em;
    font-weight:bold;
    font-size:0.8em;
    margin:2em 0em 3em 7em;
}

.submitchoice {
	padding:1em;
	margin:2em 0em 2em 1em;
	font-weight:bold;
    font-size:0.8em;
}

#submitassegn {
	margin:1em 0em 3em 8em;
}

.ulnopadd {
    padding:0;
}

.ulnopadd li {
    font-weight:bold;
    margin:1em 0em 1em 5em;
}