/* tablet + desktop */
@media screen and (min-width:769px) {

  
  *{
    border-width:2px;
  }  
html,body {
	width:100%;
	margin:0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	color:black;
	background-color:#DCDCDC;
}

/* header */

#header {
	width:96%;
	height:140px;
	border-radius:10px;
	border-style:solid;
	border-color:black;
	margin:2em auto 1em auto;
	background-color:white;
}

#imglogo {
	display:block;
	float:left;
	margin:.5em 1em 1em 18em;
}

  
  #header p{
    margin-top: 4.2em;
  }
#adminzone {
	border-style:solid;
	border-color:black;
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	border-bottom:0;
    border-width:2px;
	background-color:#EBEBEB;
	float:right;
	position:relative;
	top:39px;
	right:40px;
}

#adminzone a {
	display:block;
	font-variant:small-caps;
	font-weight:bold;
	min-width:22px;
	min-height:22px;
	padding:0.3em;
	position:relative;
	top:2px;
}

/* panoramic */

#panoramic {
	clear:right;
	width:96%;
	height:190px;
	display:block;
	border-radius:10px;
	border-style:solid;
	border-color:black;
    border-width:2px;
	margin:auto;
	object-fit:cover; /* nota */
}

/* path */

#path {
	width:96%;
	margin:1em auto 0em auto;
	font-size:1em;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	background-color:#FFFFFF;
}

#path p {
	margin:0.5em 1em 0.5em 0.8em;
}

/* tabs */

#ultabs {
	width:96%;
	padding:0em;
	margin:1em auto 0em auto;
	font-size:18px;
	font-variant:small-caps;
}

.navtab {
	display:inline-block;
	border-style:solid;
}

.selected {
	font-size:1.7em;
	font-weight:bold;
	text-decoration:none;
	padding:0.4em 0.5em 0.1em 0.5em;
	border-color:black;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-bottom:0;
	margin:0em 0em 0em 0.8em;
	background-color:#65c18f;
	position:relative;
	top:3px;
}

.selected span {
	position:relative;
	bottom:3px;
}

.navtab a {
	font-weight:bold;
	padding:0.4em 1em 0.4em 1em;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

#liprod {
	border-color:black;
	background-color:#EBEBEB;
}

#liprod:hover {
	border-color:#7d2d87;
	background:url(../images/tabprod.png);
	background-size:cover;
	background-repeat:no-repeat;
}

#lilav {
	border-color:black;
	background-color:#EBEBEB;
}

#lilav:hover {
	border-color:#bf6800;
	background:url(../images/tablav.png);
	background-size:cover;
	background-repeat:no-repeat;
}

#licont {
	border-color:black;
	background-color:#EBEBEB;
}

#licont:hover {
	border-color:#eb2d2d;
	background:url(../images/tabcont.png);
	background-size:cover;
	background-repeat:no-repeat;
}

.notselected {
	font-size:1.3em;
	vertical-align:bottom;
	padding-top:0.3em;
	padding-bottom:0.3em;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-bottom:0;
	margin:0em 0em 0em 0.8em;
}

.notselected:hover {
	font-size:1.5em;
	font-weight:bold;
	background-color:#65c18f;
}

/* content */

#container {
	width:96%;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	margin:0em auto 1.6em auto;
	background-image:url(../immages/home_bkg.png);
	background-size:cover;
	background-repeat:no-repeat;
}

#nav {
	width:15%;
	min-width:140px;
	padding:0.4em 1.5em 0.4em 1.5em;
	background-color:#EBEBEB;
	margin:2em;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	float:left;
}

#nav h1 {
	font-size:1.8em;
	line-height:1em;
}

#nav ul {
	font-size:1.2em;
	padding:0.2em;
	list-style-type:none;
	line-height:2em;
}

#listnav li {
	padding-left:0.4em;
}

#listnav li a {
	font-variant:small-caps;
}

#tabcontent {
	margin:3.5em 2em 2em 25%;
	border-style:solid;
	border-color:black;
	border-spacing:0;
}

.trodd {
	background-color:white;
}

.treven {
	background-color:#E8FFE8;
}

#tabcontent h1 {
	margin:15px 20px 20px 15px;
}

#tabcontent p {
	margin:0px 15px 15px 25px;
}

.tothetop {
	margin-left:0.8em;
	font-style:italic;
	font-size:0.3em;
}

/* footer */

#footer {
	width:96%;
	font-size:0.8em;
	font-style:italic;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	background-color:white;
	margin:1.6em auto 1.2em auto;
}

#footer p {
	margin:0.5em 1em 0.5em 1.8em;
}

.footerinfostart {
	padding-left:0.6em;
	color:black;
	font-size:1.4em;
	text-decoration:none;
}

.footerinfo {
	padding-left:0.9em;
}

} /* end desktop + tablet */

/* phone */
@media screen and (min-width:1px) and (max-width:768px) {
 body {
  background-color:yellow;
 }
} /* end phone */

/* printer */
@media print {
 body {
  background-color:cyan;
 }
} /* end printer */


