html,body {
	width:100%;
	margin:0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	background-color:white;
}

ul {
  list-style-type:none;
} 

#logoDitta{
  float:left;
  margin-bottom: 2.1em;  
  margin-left: 6%;
}

#adminzone {
	clear:both;
	background-color:lightgrey;
}

#adminzone p {
	font-size:1.3em;
	padding-top:0.3em;
	padding-bottom:0.3em;
}

#benvenuto {
	margin-left:3%;
}

#scelteadmin {
	float:right;
	text-decoration:none;
	margin-right:4%;
}

#adminzone a:visited {
	color:black;
}

#adminzone  a:hover {
	color:blue;
	text-decoration:underline;
}

#adminzone  a:visited:hover {
	color:blue;
}

#panoramic {
  width:100%;
  height:250px;
  display:block;
  object-fit:cover; /* nota */
}

#breadcrumb {
  height: 2.5em;
  color: white;
}

#breadcrumb p{
  padding-top: .5em;
  padding-left: 2em;
  font-size: 1.3em;
}

/* circlemenu */

#circlemenu{
width: 100%;
overflow:hidden;
}

#circlemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center; /* "left", "center", or "right" align menu */
}

#circlemenu li{
  display: inline;  
  margin: 2em;
}

#circlemenu li{
  display:inline-block;
  text-align:center;
  text-decoration: none;
  color: white;
  margin-right:5px; /*right spacing between each link */
  border-radius: 400px; /*really large border radius to create round borders*/
-moz-border-radius: 400px;
-webkit-border-radius: 400px;
-o-border-radius: 400px;
}
  
#circlemenu .notSelected{
  position: relative;
  top:1.5em;
}
#circlemenu span, #circlemenu a span{
position:relative;
top: 40%;
}

#circlemenu #home, .home{
  background-color: #0dd91d;
  } 

#circlemenu #home:hover{
  background-color: #3CB371;
  } 

#circlemenu #prodotti, .prodotti{
  background-color: #FFDA00;
  }
  
  #circlemenu #prodotti:hover{
  background-color: #FECB00;
  }
  
  #circlemenu #lavorazioni, .lavorazioni{
  background-color: #ff5128;
  }
  
  #circlemenu #lavorazioni:hover{
  background-color: #E98300;
  }
  
  #circlemenu #contatti, .contatti{
  background-color: #E3001D;
  }
  
  #circlemenu #contatti:hover{
  background-color: #b72d23;
  }
  
#circlemenu li:visited{
color: white;
}

#circlemenu .selectedH{
background: #0dd91d;
}
#circlemenu .selectedP{
background: #FECB00;
}
#circlemenu .selectedL{
background: #ff5128;
}
#circlemenu .selectedC{
background: #E3001D;
}

#circlemenu li a{
  text-decoration: none;
  color: white;
}

#circlemenu .selectedP{
display:inline-block;
text-align:center;
text-decoration: none;
color: white;
margin-right:5px; /*right spacing between each link */
}

/* immagini */
.circolare {
  width: 150px; 
  height: 150px;
  border-color: #C0C0C0;
  border-radius:999em;    
-moz-border-radius:999em;  
-webkit-border-radius:999em; 
  -o-border-radius: 999em;  
  border-style: solid;
  border-width: .4em;
}

.foto{
  float: left;
  margin: 5em 3em auto 3em;/* top right bottom left */
  }

/* container */

#container {
    margin-top: 2em;
}
  
.testo {
    width: auto;
    margin-left: 3em;
}

#container .dispari {	
    background-color:gainsboro;
	padding-top:1em;
	padding-bottom:3em;
}

#container .pari {
	background-color:white;
	padding-top:1em;
	padding-bottom:3em;
}
  
#container h1 {
    text-align: left;
    margin: 1.5em 0 1em 0;
    padding-left: 5em;
}

.testo ul {
	padding-left:16em;
	padding-right:10em;
	list-style-type:circle;
}

#container p {
    text-align: left;
    padding-left: 15em;
    padding-right: 10em;
}
  
.tothetop {
	margin-left:0.8em;
	font-style:italic;
	font-size:0.3em;
}

.descrizioneCat {
  float: left;
  margin-top: 1em;
}

#nomeCategoria {
  float: none;
}

.descrizioneCat img {
  float: left;
  margin-left: 1em;
}

.descrizioneCat ul {
  margin-left: 12em;
}

.listaProdotti {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* phone */
@media screen and (min-width: 480px) and (max-width: 768px) {
   
  #header{
    height: 90px;
  }
  
  #logoDitta {
  float:left;
  margin-bottom: 2.1em;  
  margin-left: 6%;
  height: 90px;
  width:300px;
}

#accessoadmin {
	margin-left:69%;
}
  
  #panoramic {
	width:100%;
	height:250px;
}
  
  #breadcrumb{
    height: 2em;
  }
  
  #breadcrumb p{
  padding-top: .3em;
  padding-left: 2em;
  font-size: 1.1em;
}
  /* circlemenu */

#circlemenu ul{
  font: bold 12px Verdana;
}

#circlemenu li{
}

#circlemenu li{
  width:80px;
  height:80px;
}
  
  
#circlemenu .notSelected{
  position: relative;
  top:1.5em;
}

#circlemenu .selectedH, #circlemenu .selectedP, #circlemenu .selectedL, #circlemenu .selectedC{
width:110px;
height:110px;
}
  
/* container */
  
  .foto{
    float: left;
    padding-bottom: 3em;
  }
  
  #container h1 {
   text-align: left;
   margin: 1.5em 0 1em 0;
   padding-left: 5em;
   padding-top: 2em;
  }
  
  #container p {
    clear: both;
    text-align: left;
    padding-left: 0;
    padding-right: 0em;
  }
}
/* end phone */ 

/* tablet + desktop */
@media screen and (min-width:769px) and (max-width:1200px){
/* header */
  #header {
	height:130px;
}

#logoDitta {
  height: 130px;
  width:450px;
}

#accessoadmin {
	margin-left:80%;
}

/* panoramic */

#panoramic {
	max-width:1200px;
}

/* circlemenu */

#circlemenu ul{
  font: bold 16px Verdana;
}

#circlemenu li{
  width:120px;
  height:120px;
}

#circlemenu .selectedH, #circlemenu .selectedP,#circlemenu .selectedL, #circlemenu .selectedC{
  width:160px;
  height:160px;

}

#xhtml{
  clear: left;
  margin-left: 30%;
  margin-right: 2em;
}

#css{
  float: none;
  margin-left: 2.4em;
  }
}
/* footer */

#footer {
	height:110px;
    color: white;
	font-size:0.8em;
	font-style:italic;
	background-color:#808080;
	margin:6em auto 1.2em auto;
}

#footer img{
  float: left;
  margin-top: 1em;
  border:0;
  width:88px;
  height:31px;
}


#footer p{
  position: relative;
  text-align: left;
  float: left;
  font-size: 16px;
  margin-top: 1.2em;
}

#footer ul{
  clear: left;
  margin-left: 5%;
  padding-top: 1em;
}

#footer ul li{
  float: left;
  list-style: none;
  padding: 2px;
}

#footer ul li:before {
content:"| ";
}

/* end desktop + tablet */