/* insprod */

.paddtop {
    padding-top:1em;
}

.lightgrey {
    background-color:#EFEFEF;
}

.pink {
    background-color:pink;
}

.result {
	padding-top:1em;
	padding-bottom:1em;
}

.ulnopadd {
    padding:0;
}

.ulnopadd li {
    font-weight:bold;
    margin:1em 0em 1em 5em;
}

.standardcheckb {
    display:inline;
    font-weight:normal;
}

.formmargin {
	margin-left:0.5em;
}

.submit {
    min-width:8em;
    min-height:5em;
    font-weight:bold;
    font-size:0.8em;
    margin:2em 0em 3em 7em;
}

#warning {
    padding-top:1.5em;
	padding-left:2em;
    margin:0em 1em 0em 1em;
}