/* css lavorazioni */

.testoL{
    width: 65%;
    height: auto;
    margin: 0 auto;
}

.testoL p{
    color: #5f6060;
}
 .fotoL {
     width: 300px;
     margin: 1em auto;
}

 .fotoL img{
     height:270px;
     width:270px;
 }
.testoL h1{
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    margin-bottom: 2em;
}

.testoL h2{
    text-align: center;
    text-transform: capitalize;
    font-size: medium;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .fotoL img{
        height:220px;
        width:220px;
    }


}