/* modprod */

.aligncenter {
	text-align:center;
}

.paddtop {
    padding-top:1em;
}

.lightgrey {
    background-color:#EFEFEF;
}

.pink {
    background-color:pink;
}

.white {
	background-color:white;
}

.result {
	padding-top:1em;
	padding-bottom:1em;
}

.marginleft {
	margin-left:4em;
}

.textbold {
	font-weight:bold;
}

.fotoprod {
	height:60px;
	width:60px;
	vertical-align:middle;
	border-width:0.2em;
	margin:0em 1em 0em 2.5em;
}

.infoattuale {
	display:inline;
	font-size:1.5em;
}

.nomescelta {
	font-size:1.2em;
}

#select {
	padding:0.5em;
}

.tablemod {
	margin-left:3em;
}

.tablemod td {
	padding-right:1em;
	padding-bottom:0.5em;
}

.divlav {
	margin-left:35%;
}

.sottoinfo {
	padding-top:2em;
}

#ulmod {
	margin:0;
}

#divcheckblav {
	margin-left:3.5em;
}

.standardcheckb {
    font-weight:normal;
	margin:0.5em 0em 0.5em 0em;
}

#attualelabel {
	margin:0;
	font-style:italic;
}

#attualedescr {
	font-style:italic;
	margin-top:0.5em;
	width:280px;
}

#testodelete {
	margin-left:5em;
}

.redhover:hover {
	color:red;
}

#texta1 {
	width:280px;
	height:80px;
}

#texta2 {
	width:280px;
	height:80px;
}

.submitchoice {
	padding:1em;
	margin:2em 0em 2em 1em;
	font-weight:bold;
    font-size:0.8em;
}

.warning {
	font-size:1.2em;
	padding:1em 0em 0.5em 0em;
    margin-top:1em;
}

.formmargin {
	margin-left:0.5em;
}