/* modprod */

.paddtop {
    padding-top:1em;
}

.pink {
    background-color:pink;
}

.white {
	background-color:white;
}

.result {
	padding-top:1em;
	padding-bottom:1em;
}

.result3 {
	padding-top:3em;
	padding-bottom:3em;
}

.textbold {
	font-weight:bold;
}

.fotoprod {
	height:60px;
	width:60px;
	vertical-align:middle;
	border-width:0.2em;
	margin:0em 1em 0em 2.5em;
}

.infoattuale {
	padding-left:3em;
	margin:0.5em 0em 0em 0em;
	font-size:1.5em;
}

#select {
	padding:0.5em;
}

#ulmod li {
	display:inline-block;
	width:35%;
	margin:0em 0.5em 0em 0.5em;
}

.tablemod {
	margin:1em 0.5em 0em 0.5em;
}

.tablemod td {
	padding-right:1em;
	padding-bottom:0.5em;
}

#divlav {
	margin-left:5em;
}

#ullav {
	display:inline;
	padding:0;
}

#ullav li {
	width:auto;
}

#labeldescr {
	margin-left:0.4em;
}

#descr {
	resize:none;
	min-height:70px;
	min-width:300px;
	margin-left:1em;
}

#attualelabel {
	margin-left:1.5em;
	font-style:italic;
}

#attualedescr {
	width:250px;
}

#attualedescr p {
	padding:0em 0em 0em 1.5em;
	font-style:italic;
	width:200px;
}

#testodelete {
	margin-left:3.5em;
}

.redhover:hover {
	color:red;
}

.submitchoice {
	padding:1em;
	margin:2em 0em 2em 3em;
}

#warning {
    padding-top:1.5em;
	padding-left:2em;
    margin:0em 1em 0em 1em;
}

#form{
	background-color: white;
	width: 50%;
	height: 270px;
	margin: 0 auto;
}
h1 {
	display:inline;
	font-size: x-large;
}

p{
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
	font-weight: bold;
	font-size: large;
}

#divmodprod {
	padding-top:1em;
	padding-right: 6em;
	text-align: center;
	background-color: lightgray;
	height:70px;
}

#confmodprod{
	margin-left: 4em;
}
@media screen and (max-width: 768px) {

	#divlav {
		margin-left:1em;
	}

	h1 {
		font-size: large;
	}
}