/* css print */

html, body {
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	color:black;
}

a:visited {
	color:blue;
}

ul {
	list-style:none;
    padding:0;
}

/* header */

#logoDitta {
	display:block;
	height:105px;
	width:397px;
	margin:1.5em 0em 0em 0em;
}
  
#zonaadmin {
	display:none;
}

/* panoramic */

#panoramic {
	display:none;
}

/* breadcrumbs */

#breadcrumb {
	border-style:solid;
	border-width:1px;
	margin-bottom:2em;
}

#breadcrumb p {
    font-size:1em;
	margin-left:0.5em;
}
  
/* circlemenu */

#circlemenu li {
	display:inline-block;
	padding:0.5em;
	margin:0em 1em 0.5em 0em;
	font-size:0.8em;
	border-style:solid;
	border-color:black;
	border-width:1px;
	border-radius:999px;
}

/* index */

.foto {
	display:none;
}
  
.tothetop {
	display:none;
}

.testo ul {
	page-break-inside:avoid;
}

#container img {
	width:40px;
	height:40px;
	display:inline;
	border-radius:999em;
	float:left;
	margin-right:1em;
}

/* footer */

#footer {
	page-break-inside:avoid;
	font-size:0.8em;
	font-style:italic;
	border-style:solid;
	border-color:black;
	border-width:1px;
	margin:4em 0em 0em 0em;
	height:22mm;
}

#footer ul li {
	list-style-type:none;
	display:inline;
}

#footer ul li:before {
	content:"| ";
}

#footer div {
	text-align:center;
}

#footer img {
	display:none;
}

#footer p {
	margin:1em 0em 0em 1em;
}

.center {
	text-align:center;
}

/* prodotti */

.testocat {
	margin-left:3.5em;
	margin-bottom:2em;
}

.testocat h1 {
	font-size:1.2em;
	text-transform:uppercase;
}

.testocat p {
	font-size:0.8em;
}

.circleGrid {
	page-break-inside:avoid;
	min-height:50px;
}

.circleGrid h1 {
	font-size:1em;
	text-transform:uppercase;
}

.circleGrid p:before {
	content:"Lavorazione disponibile: ";
}

.circleGrid p {
	font-size:0.8em;
}

.elencolav {
	margin:0em 0em 0em 4.5em;
}

/* contatti */

fieldset {
	page-break-inside:avoid;
}

#hiddenazienda {
	display:none;
}

#memorequired {
	font-size:0.7em;
}

#messaggio {
	margin-left:2em;
}

#inviaemail {
	margin-left:2.5em;
}

/* login */

#ullogin li {
	margin-top:0.3em;
}

/* admin */

.containeradmin img {
	display:none !important;
}

.containeradmin li {
	margin-top:0.5em;
}

/* generale zona riservata */

.adminfoto {
	float:none !important;
	vertical-align:middle;
}

.ulnopadd li {
	margin-top:0.5em;
}

.standardcheckb {
	margin:0;
}

.ulmod li {
	margin-top:0.5em;
}

.infoattuale {
	font-size:1.4em;
	display:inline;
	margin-right:1em;
}

.nomescelta {
	font-size:1.2em;
}

#attualelabel {
	margin-bottom:0;
	font-style:italic;
}

#attualedescr {
	margin-top:0;
	font-style:italic;
}