
.pari, .dispari{
    background-color: #a6a6a6;
    display: block;
    overflow: hidden;
    clear: both;
    padding-left: 2em;
}
.dispari{
    background-color: white;
}

.catContent{
    height: 190px;
    display: inline;
    float: left;
    margin-bottom: 3em;
}


.testocat{
    padding-top:1em ;
}
.fotocat {
    float: left;
    height:180px;
    width:180px;
    margin-right: 2em;
    margin-left: 2em;
}

.testocat h1{
    text-transform: uppercase;
    font-size: x-large;
}

.circleGrid{
    overflow: hidden;
    display: inline;
    float: left;
    text-align: center;
    width: 260px;
    height: 280px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

.circleGrid p{padding: 0;}
.circleGrid h2{font-size: medium}

.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}